<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBSS_Test.Properties.Settings.dbssConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=dbss;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>